* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img.jpg);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    width: 100%;
    max-width: 1005px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 60%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 5px grey;
    background-color: white;
    border-radius: 5px;
}

h2 {
    margin-bottom: 1rem;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

legend {
    font-size: 1.2em;
    margin-bottom: 1rem;
}

.row {
    width: 100%;
    margin: 1rem 0;
}

.row label {
    margin-left: 0.5rem;
}

.button {
    text-align: center;
    margin-top: 1rem;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #3498db;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2980b9;
}
